@use '@/styles/mixins' as *;

.cart {
  margin-block: 100px;
}

.cartEmptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-xl;
}

.cartEmptyText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-s;
}
