@use '@/styles/mixins' as *;

.button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: none;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  background-color: $color-brand;
  border: none;
  cursor: pointer;
  color: $color-button-primary-text;
  font-size: 18px;
  min-height: 52px;
  transition: background-color $transition-duration $transition-timing-function;

  &:not(:disabled):hover {
    background-color: $color-brand-hover;
  }

  &:not(:disabled):active {
    background-color: $color-brand-active;
    transition: none;
  }

  &--disabled {
    background-color: $color-bg-disabled;
    cursor: not-allowed;
  }

  &-loader {
    fill: $color-button-primary-text;
  }
}
