@use '@/styles/mixins' as *;

.cart {
  margin-block: 100px;

  &__title {
    margin-bottom: $space-l;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $space-m;
    margin-bottom: $space-xl;
  }

  &__footer {
    padding-top: $space-m;
    border-top: 1px solid $color-text-secondary;
  }
}
