@use '@/styles/mixins' as *;

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 12px 20px;
  color: #fff;
  z-index: $z-50;
  min-width: 200px;
  max-width: 400px;
  text-align: center;

  &[data-status='success'] {
    background-color: $color-success;
  }

  &[data-status='error'] {
    background-color: $color-error;
  }
}
