$color-brand: var(--color-brand);
$color-brand-hover: var(--color-brand-hover);
$color-brand-active: var(--color-brand-active);
$color-body-bg: var(--color-body-bg);
$color-bg-block-primary: var(--color-bg-block-primary);
$color-bg-disabled: var(--color-bg-disabled);
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-accent: var(--color-text-accent);
$color-button-primary-text: var(--color-button-primary-text);
$color-input-placeholder: var(--color-input-placeholder);
$color-input-text-disabled: var(--color-input-text-disabled);

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;

$header-height: 90px;

$transition-duration: 0.1s;
$transition-timing-function: ease-in-out;

$z-10: 10;
$z-20: 20;
$z-30: 30;
$z-40: 40;
$z-50: 50;
