$color-brand: #518581;
$color-brand-hover: #86aaa7;
$color-brand-active: #487773;
$color-body-bg: #fafafa;
$color-bg-block-primary: #ffffff;
$color-bg-disabled: #d9d9d9;
$color-text-primary: #000000;
$color-text-secondary: #afadb5;
$color-text-accent: $color-brand;
$color-button-primary-text: #ffffff;
$color-input-placeholder: #afadb5;
$color-input-text-disabled: #00000033;

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;

$header-height: 90px;

$transition-duration: 0.1s;
$transition-timing-function: ease-in-out;

$z-10: 10;
$z-20: 20;
$z-30: 30;
$z-40: 40;
$z-50: 50;
