$color-brand: #518581;
$color-brand-hover: #86aaa7;
$color-brand-active: #487773;
$color-body-bg: #fafafa;
$color-bg-block-primary: #ffffff;
$color-bg-disabled: #d9d9d9;
$color-text-primary: #000000;
$color-text-secondary: #afadb5;
$color-text-accent: $color-brand;
$color-button-primary-text: #ffffff;
$color-input-placeholder: #afadb5;
$color-input-text-disabled: #00000033;

$transition-duration: 0.1s;
$transition-timing-function: ease-in-out;
