@use '@/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow $transition-duration $transition-timing-function;
  background-color: $color-bg-block-primary;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  &__image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 24px 12px;
  }

  &__content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }
  &__content-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
