@use '@styles/mixins' as *;

.multi-dropdown {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100% + $space-xxs);
  left: 0;
  right: 0;
  background-color: $color-bg-block-primary;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: opacity $transition-duration $transition-timing-function;

  &--visible {
    opacity: 1;
    pointer-events: all;
  }

  &__wrapper {
    position: relative;
  }
  &__option {
    display: block;
    padding: 16px 12px;
    cursor: pointer;

    &-checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &:not(.multi-dropdown__option--selected):hover {
      color: $color-text-secondary;
    }

    &--selected {
      color: $color-text-accent;
      cursor: default;
    }
  }
}
