@use '@/styles/mixins' as *;

.products {
  margin-block: 100px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-m;
    margin-inline: auto;
    text-align: center;
    max-width: 650px;
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include respond(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(sm) {
      grid-template-columns: 1fr;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: $space-m;
      margin-bottom: 35px;
    }
  }

  &__card {
    margin-inline: auto;
    width: 100%;
  }

  &__loader {
    display: block;
    margin-inline: auto;

    &-wrapper {
      margin-top: 50px;
    }
  }

  &__form {
    margin-bottom: $space-xl;
    display: flex;
    flex-direction: column;
    gap: $space-m;
  }
  &__input-wrappper {
    display: flex;
    gap: $space-m;
  }
  &__input {
    flex-grow: 1;
  }
  &__filter-wrapper {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }
  &__filter_label {
    font-size: 16px;
    color: $color-text-primary;
  }
  &__button_in_cart {
    background-color: $color-bg-disabled;
    cursor: default;
  }

  &__empty {
    text-align: center;
    padding: 60px 20px;
  }

  &__category-dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + $space-xs);
    left: 0;
    right: 0;
    background-color: $color-bg-block-primary;

    &--open {
      opacity: 1;
      pointer-events: auto;
    }

    &-option {
      padding: 14px 12px;
      cursor: pointer;

      &:not(.products__category-dropdown-option--selected):hover {
        color: $color-text-secondary;
      }

      &--selected {
        color: $color-text-accent;
      }
    }

    &-wrapper {
      position: relative;
      max-width: 300px;
    }
  }
}
